@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "./variables.scss";

html {
    font-size: 62.5%;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    line-height: normal !important;
}

Header {
    background-color: $color-DarkBlue;
}

body {
    font-size: 1.8rem;
    /* para que me muestre como minimo todo el alto de mi pantalla */
    min-height: 100vh;
}

.gridBody {
    display: grid;
    grid-template-areas:
        "headerLog headerLog headerIcons"
        "headerLog headerLog headerAcces"
        "navBar navBar navBar"
        "main main main"
        "footerL footerC footerR";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 7rem auto auto 12rem;
    min-height: 100vh;
}

.headerLog {
    grid-area: headerLog;
    justify-items: start;

    .navBarLog {
        @include flex-column;
        margin-left: 1rem;

        .navBarBrand {
            color: $color-white;
            font-size: 6rem;
            font-weight: bold;
        }

        .navBarBrandSub {
            color: $color-white;
            font-size: 3rem;
            font-weight: normal;
        }
    }
}

.headerIcons {
    grid-area: headerIcons;
    justify-items: end;

    .icons {
        display: flex;
        justify-content: end;

        .iconsImg {
            width: 30px;
            margin: 1rem;
        }
    }
}

.headerAcces {
    grid-area: headerAcces;
    justify-content: end;

    .accesNav {
        @include flex-row;
        height: 100%;
        justify-content: end;
        align-items: flex-end;

        .accesItem {
            display: block;
            margin: 1rem;
        }

        .accesItem:hover {
            background-color: $color-white;
            color: $color-DarkBlue;
        }
    }
}

.navBar {
    grid-area: navBar;
    width: 100%;
    background-color: $color-BackgroundNav  !important;

    .nav-item {
        &:hover {
            background-color: $color-white;
        }

        .nav-link {
            color: $color-white;

            &:hover {
                color: $color-DarkBlue;
            }
        }
    }

    .searchProduct {
        width: 20rem;
        font-size: 1.5rem;
        border-width: 0;
    }
}

.main {
    grid-area: main;
    background-color: $color-BackgroundBody;
    padding: 10px;
    min-height: 40rem;

    h2 {
        color: $color-DarkBlue;
        font-weight: bolder;
    }

    //index + OFERTAS
    .cardProducts {
        @include flex-row;
        justify-content: space-evenly;

        .cardProduct {
            width: map-get($cardProductIndex, width);
            height: map-get($cardProductIndex, height);
            display: map-get($cardProductIndex, display);
            background-color: map-get($cardProductIndex, background-color);
            margin-top: map-get($cardProductIndex, margin-top);
            margin-bottom: map-get($cardProductIndex, margin-bottom);

            &:hover {
                box-shadow: 2px 2px 5px $color-DarkBlue;
            }

            .cardProductImage {
                width: 100%;
                height: auto;
                max-height: 25rem;
            }

            .cardProductDescription {
                margin: 1rem;

                .priceIncorrect {
                    text-decoration: line-through !important;
                }

                .cardProductDescriptionPrice {
                    font-size: 2rem;
                    color: $color-DarkBlue;
                }

                .cardProductDescripionText {
                    font-size: 1.5rem;
                    color: $color-DarkBlue;
                }
            }
        }
    }

    // Inicio pagina Registro
    .formRegist {
        width: map-get($formulario, width);
        background-color: map-get($formulario, background-color);
        border-style: map-get($formulario, border-style);
        border-color: map-get($formulario, border-color);
        border-width: map-get($formulario, border-width);
        margin: map-get($formulario, margin);

        .formTitle {
            width: 100%;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .formList {
            width: 100%;
            align-self: center;
            justify-content: space-between;
            padding: 0rem;

            .fields {
                @include flex-row;
                justify-content: space-evenly;

                .fieldSec {
                    @include flex-column;
                    width: 22rem;
                }
            }
        }

        .botonRegist {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    // Fin pagina Registro

    // Inicio pagina Acceso
    .formAcces {
        width: map-get($formulario, width);
        background-color: map-get($formulario, background-color);
        border-style: map-get($formulario, border-style);
        border-color: map-get($formulario, border-color);
        border-width: map-get($formulario, border-width);
        margin: map-get($formulario, margin);

        .formTitle {
            width: 100%;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .formList {
            width: 100%;
            align-self: center;
            justify-content: space-between;
            padding: 0rem;

            .fields {
                @include flex-column;
                align-items: center;

                .fieldSec {
                    @include flex-column;
                    width: 30rem;
                }
            }
        }

        .botonAcces {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    // Fin pagina Acceso

    // Pagina Mapa
    .mapaGoogle {
        width: 400px;
        height: 300px;
    }
}

ul {
    list-style-type: none;
}

.footer {
    @include flex-column;
    align-items: center;
}

.footerL {
    grid-area: footerL;
    @extend.footer
}

.footerC {
    grid-area: footerC;
    @extend.footer
}

.footerR {
    grid-area: footerR;
    @extend.footer
}

/* para que los contenedores padre sin clase puedan llenar todo el height */
.containFull {
    height: 100%;
}

.footerTitles {
    margin-top: 1rem;
}


/* para dar color a los vinculos */
.colorWhite {
    color: $color-white;
}

footer {
    background-color: $color-DarkBlue;
    color: $color-white;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: $color-DarkBlue;
}

h2 {
    font-size: 2rem;
    color: $color-white;
    font-weight: normal;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
}


.black {
    color: $color-DarkBlue;
}

.noneMargin {
    margin: 0rem !important;
    padding: 0rem !important;
}

.displayMainProducts {
    display: flex;
    flex-direction: row;
}

.main .categoriasList {
    width: 30rem;
    margin-right: 2rem;
}

.main .productos {
    width: 100%;
}

.gridProductList {
    display: grid;
    grid-template-areas:
        "img title price"
        "img description description";
    grid-template-columns: 17rem auto 10rem;
    grid-template-rows: auto auto;
}

.imgProductList {
    grid-area: img;
    height: 15rem;
    width: 15rem;
    margin: 1rem;
}

.titleCardList {
    grid-area: title;
}

.descriptionCardList {
    grid-area: description;
}

.priceCardList {
    grid-area: price;
    color: $color-DarkBlue;
}

@media screen and (max-width: 1030px) {

    #card4D {
        display: none;
    }

    #card4U {
        display: none;
    }

}

@media screen and (max-width: 770px) {

    .main {
        .categoriasList {
            margin-right: 0rem;
        }
    }

    #card3D {
        display: none;
    }

    #card3U {
        display: none;
    }

    #card4D {
        display: none;
    }

    #card4U {
        display: none;
    }

    .listFooter {
        display: none;
    }

    .gridBody {
        display: grid;
        grid-template-areas:
            "headerLog headerLog headerIcons"
            "headerLog headerLog headerAcces"
            "navBar navBar navBar"
            "main main main"
            "footerL footerL footerL"
            "footerC footerC footerC"
            "footerR footerR footerR";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 5rem 7rem auto auto 3rem 3rem 3rem;
        min-height: 100vh;
    }

    .footerTitles {
        margin: 0;
    }

    .gridProductList {
        display: grid;
        grid-template-areas:
            "img title"
            "img price";
        grid-template-columns: 12rem auto;
        grid-template-rows: auto auto;
    }

    .descriptionCardList {
        display: none;
    }

    .imgProductList {
        grid-area: img;
        height: 10rem;
        width: 10rem;
        margin: 1rem;
    }

    .titleCardList {
        grid-area: title;
        font-size: 2rem;
    }


    .priceCardList {
        grid-area: price;
        color: $color-DarkBlue;
    }

    .gridMainProducts {
        display: grid;
        grid-template-rows: auto auto;
    }

    .displayMainProducts {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {

    .main {
        .formRegist {
            width: 30rem;
        }

        .formAcces {
            width: 30rem;

            .formList {
                .fields {
                    flex-direction: column;
                    align-items: center;

                    .fieldsec {
                        width: 25rem;
                    }
                }
            }
        }

        .mapaGoogle {
            width: 300px;
            height: 200px;
        }

        .cardProducts {
            .cardProduct {
                width: 15rem;
                height: 25rem;
                display: inline-block;
                background-color: $color-white;
                margin-top: 20px;
                margin-bottom: 20px;

                .cardProductDescription {
                    .cardProductDescriptionPrice {
                        font-size: 1.5rem;
                    }

                    .cardProductDescripionText {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .headerLog {
        .navBarLog {
            .navBarBrand {
                font-size: 4rem;
            }

            .navBarBrandSub {
                font-size: 2rem;
            }
        }
    }

    #inicioB {
        display: none;
    }

    #card3D {
        display: none;
    }

    #card4d {
        display: none;
    }

    #card3U {
        display: none;
    }

    #card4U {
        display: none;
    }

    .listFooter {
        display: none;
    }

    .headerIcons {
        .icons {
            .iconsImg {
                width: 2rem;
                margin: 0.5rem;
            }
        }
    }

    .headerAcces {
        .accesNav {
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: start;
            align-items: flex-end;

            .accesItem {
                display: block;
                margin: 0.5rem;
            }
        }
    }

    .gridBody {
        display: grid;
        grid-template-areas:
            "headerLog headerLog headerLog"
            "headerAcces headerAcces headerIcons"
            "navBar navBar navBar"
            "main main main"
            "footerL footerL footerL"
            "footerC footerC footerC"
            "footerR footerR footerR";
        grid-template-columns: 1fr 1fr 10rem;
        grid-template-rows: 8rem 3rem auto auto 3rem 3rem 3rem;
        min-height: 100vh;
    }

    .gridProductList {
        grid-template-columns: 9rem auto;
    }

    .footerTitles {
        margin: 0;
    }

    .imgProductList {
        grid-area: img;
        height: 7rem;
        width: 7rem;
        margin: 1rem;
    }

    .titleCardList {
        grid-area: title;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 360px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    .main {
        .cardProduct {
            width: 15rem;
            height: 20rem;
            display: inline-block;
            background-color: $color-white;
            margin-top: 20px;
            margin-bottom: 20px;
        }

    }

    #card3D {
        display: none;
    }

    #card4D {
        display: none;
    }

    #card3U {
        display: none;
    }

    #card4U {
        display: none;
    }

    .gridProductList {
        display: grid;
        grid-template-areas:
            "title"
            "price"
            "img";
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }

    .titleCardList {
        text-align: center;
    }

    .priceCardList {
        text-align: center;
    }

    .imgProductList {
        justify-self: center;
    }
}